
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" />

}



<h2>Mine</h2>

<div class="row">
    <ul class="course">
        @foreach (var item in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM")


                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd")

                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @item.Lecturer.Name
                      
                    </span>
                    <span class="category">
                        @item.Category.Name
                    </span>
                
                </div>

                <div class="action">
                    <a href="@Url.Action("Edit","Course",new { Id=item.Id})">Edit</a>||
                    <a href="@Url.Action("Delete","Course",new { Id=item.Id})">Delete</a>
                </div>

            </li>

        }

    </ul>
</div>






@section  scripts
{

    <script>

        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something Failed");
                    });
            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { courseId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something Failed");
                    });
            });
        });


    </script>
}
